In [184]:
import MySQLdb

In [175]:
def get_user_by_id(user_id):
    connection = MySQLdb.connect('localhost', 'ivan', '12345678OK', 'MyBase')
    cursor = connection.cursor()

    sql = "SELECT id, username FROM core_user WHERE id={}".format(user_id)
    
    cursor.execute(sql)

    # Получаем данные.
    result = cursor.fetchall()
    print result

    # Разрываем подключение.
    connection.close()

In [199]:
get_user_by_id(2)

((2L, '1'),)

In [200]:
get_user_by_id('2 UNION SELECT username, password FROM core_user')

(('2', '1'), ('admin', 'pbkdf2_sha256$30000$suyMyYU5lciy$2eCDx1osnllMD8x9pua9T5by3ZFqPCuxYx16SQruZ0Y='), ('1', 'pbkdf2_sha256$30000$ZeOKAhcA2gga$omJPfatTCnpijZRtJq+sY/TCa+sL74mnr70PKIAMS8U='))

In [201]:
def get_user_by_id_safe(user_id):
    connection = MySQLdb.connect('localhost', 'ivan', '12345678OK', 'MyBase')
    try:
        uid = int(user_id)
        cursor = connection.cursor()

        sql = "SELECT id, username FROM core_user WHERE id={}".format(user_id)

        cursor.execute(sql)

        # Получаем данные.
        result = cursor.fetchall()
        print result
    
    except ValueError:
        print 'user_id должен быть числом'

    finally:
        # Разрываем подключение.
        connection.close()

In [202]:
get_user_by_id_safe('2 UNION SELECT username, password FROM core_user')

user_id должен быть числом

In [235]:
def get_user_by_username(username):
    connection = MySQLdb.connect('localhost', 'ivan', '12345678OK', 'MyBase')
    cursor = connection.cursor()

    sql = "SELECT id, username FROM core_user WHERE username='{}'".format(username)
    
    cursor.execute(sql)

    # Получаем данные.
    result = cursor.fetchall()
    print result

    # Разрываем подключение.
    connection.close()

In [238]:
get_user_by_username('33')

()

In [239]:
get_user_by_username('admin\' UNION SELECT username, password FROM core_user -- ')

(('1', 'admin'), ('admin', 'pbkdf2_sha256$30000$suyMyYU5lciy$2eCDx1osnllMD8x9pua9T5by3ZFqPCuxYx16SQruZ0Y='), ('1', 'pbkdf2_sha256$30000$ZeOKAhcA2gga$omJPfatTCnpijZRtJq+sY/TCa+sL74mnr70PKIAMS8U='))

In [249]:
def get_user_by_username_safe(username):
    connection = MySQLdb.connect('localhost', 'ivan', '12345678OK', 'MyBase')
    cursor = connection.cursor()

    #sql = "SELECT id, username FROM core_user WHERE username='{}'".format(username)

    cursor.execute("SELECT id, username FROM core_user WHERE username=%s", (username,))

    # Получаем данные.
    result = cursor.fetchall()
    print result
    # Разрываем подключение.
    connection.close()

In [262]:
get_user_by_username_safe("admin' or id='1")

()

In [253]:
get_user_by_username_safe('admin')

((1L, 'admin'),)